:root {
    --color1 :#ffffff;
    --color2 :#000000;
    --color3 :#0005;
    --color4 :#fff5;

}
body {height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(./assets/body-bg-img.jpg);
    background-position: bottom center;
    background-size: cover;
}

section .bg-lights {height:440px;margin-top:-30px;}
h2{margin-top:-20px !important;}
.bg-lights {background-color:var(--color1) !important;}
.form-control:focus {box-shadow: none !important;border-color:var(--color3) !important;}
.weatherdetail .footer .col:nth-child(1) div{background-color:orange;color:var(--color2);padding-bottom:0.5rem;border-radius:5px;}
.weatherdetail .footer .col:nth-child(2) div {background-color:#57A0EE;color:var(--color1);padding-bottom:0.5rem;border-radius:5px;}
.weatherdetail .desc {text-transform: uppercase;font-size: 0.7rem;font-weight: 500;}
.weatherdetail .latlong small{font-weight:500 !important;}
.weatherdetail .image {margin-top:-20px;}
.weatherdetail .latlong .col:nth-child(1) div{color:var(--color2);border-radius:3px;}
.weatherdetail .latlong .col:nth-child(2) div{color:var(--color2);border-radius:3px;}
.weatherdetail .countryname {color:var(--color3);}
img {width:150px;}
.loading-img {width:100px;}
footer div:nth-child(1) {left:0.5rem;}
footer div:nth-child(2) {right:0.5rem;cursor:pointer;}
footer a {text-decoration:none;color:var(--color2);}